*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #0b1f1a;
}

.input-contenedor{
    padding-top: 0.1rem;
    padding-bottom: 0.5rem;
    margin: 1rem;
    background-color: rgb(248, 247, 247);
    border-radius: 15px;
}

.inputs{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-self: start;
    margin: 1rem;
}

.form{
    width: 100%;
    height: 50px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
}

.form input{
    width: 100%;
    height: 100%;
    background: none;
    color: #0B0B0B;
    font-size: 20px;
    padding-top: 20px;
    border: none;
    outline: 0px;
}

.form .lbl{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #0B0B0B;
}

.form .lbl::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #D4AF37;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.text-input{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: #0B0B0B;
    font-family: 'Advent Pro', sans-serif;
    font-size: 20px;
}

.form input:focus + .lbl .text-input,
.form input:valid + .lbl .text-input{
    transform: translateY(-150%);
    font-size: 16px;
    color: #000;
}

.form input:focus + .lbl:after,
.form input:valid + .lbl:after{
    transform: translateX(0%);
}

/* Estilos del boton */

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.pulse {
    --color: #000;
    --hover: #D4AF37;
  }

  button {
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  button:hover, button:focus {
    border-color: var(--hover);
    color: #0B0B0B;
  }

  button {
    border-radius: 15px;
    background: none;
    border: 3px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    font-family: Raleway, sans-serif;
  }




  .contenedor-card {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.section-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: #0b1f1a;
}

.card-contenedor {
    margin-bottom: 20px; /* Puedes ajustar este margen según tus necesidades */
}

.card {
    width: 100%;
    height: 400px;
}

.logo-gifCard {
    filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(175deg);
    margin-bottom: 1rem;
}

.titulo-card {
    font-size: 80px;
    font-family: Raleway, sans-serif;
    color: #D4AF37;
}

.datos-card {
    margin-top: 20px;
    margin-bottom: 20px; /* Ajusta según tus necesidades */
}

#nombre-card{
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-size: 22px;
    font-style: italic;
    color: #ffff;
}

#producto-card{
    font-family: Raleway, sans-serif;
    font-weight: 200;
    font-size: 14px;
    font-style: italic;
    color: #ffff;
    margin-top: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;

}

#vencimiento-card {
    font-family: Raleway, sans-serif;
    font-weight: 200;
    font-size: 14px;
    font-style: italic;
    color: #ffff;
    margin-top: 2rem;
    margin-left: 15rem;

}

/* .card{
    
    width: 100%;
    height: 400px;
}

.logo-gifCard{
    filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(175deg);
    position: relative;
    bottom: 26rem;
    left: 6.5rem;
    margin-bottom: 1rem;
}


.titulo-card{
    text-align: center;
    font-size: 40px;
    font-family: Raleway, sans-serif;
    color:#D4AF37;
}

.datos-card{
    position: relative;
    bottom: 27rem;
    left: 0rem;
}

#nombre-card{
    text-align: center;
    margin-top: 5px;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ffff;
}

#producto-card{
    text-align: center;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;

    font-family: Raleway, sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #ffff;
}

#vencimiento-card{
    text-align: end;
    margin-top: 60px;
    margin-right: 30px;

    font-family: Raleway, sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #ffff
} */
